.hero-section{
    background: #000;
    width: 100%;
    align-items: center;
    text-align: center;
    color: #fff;
}
.hero-content{
    padding: 50px 6%;

}
.logo{
    width: 400px;
}
.sub{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 50px;
    margin-top: -70px;
}
.hero-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 60px;
}
.hero-btn button{
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
}
.hero-btn .service-btn{
    background: transparent;
    border: 1px solid white;
    color: #fff;
}
.studio{
    width: 100%;
}





@media screen and (max-width:600px) {
    .logo{
        width: 80%;
    }
    .hero-btn button{
        font-size: 1rem;
        padding: 10px 20px;
    }
    .hero-btn img{
        width: 15px;
    }
    .sub{
        font-size: 1.2rem;
    }
}