nav{
    background: #000;
    padding: 10px 6%;
    color: #fff;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
}
.handburger-menu-btn{
    font-size: 16px;
    display: none;
}
.nav-call{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 16px;
    background: #fff;
    color: #000;
    padding: 4px 15px;
    border-radius: 60px;
}
.nav-call img{
    width: 25px;
}

.break{
    display: none;
}
.navlink{
    cursor: pointer;
}
.navlink:hover{

}

@media screen and (max-width:900px) {
    nav{
        width: 100%;
        padding: 10px 4%;
    }
    .handburger-menu-btn{
        display: block;
    }
    .nav-menu{
        display: block;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 20px;
        gap: 30px;
        background:#000000;
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        list-style: none;
        transition: 0.5s all;
    }
    .navlink{
        margin: 12px;
    }
    .nav-menu.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition: 0.5s all;
    }
}
@media screen and (max-width:600px){
    .nav-logo{
        font-size: 1rem;
        text-align: center;
    }
    .break{
        display: block;
    }
    .nav-call{
        font-size: 0.7rem;
    }
}